* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #F8F3D9;
    
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 4rem;
    
    background-color: #EBE5C2;
}
#links-container {
    display: grid;

    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );;

    justify-items: center;
    align-items: center;
}

.link {
    margin: 10px;
    position: relative;
    top: 0;
    
}

.linkImg {
    width: 500px;
    
    border: 10px solid #d1cfc0;
    border-radius: 50px;
}

.desc {
    position: absolute;
    top: 40px;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    height: 80%;
    padding: 30px;
    
    font-size: 1.5rem;

    display: none;
}

.buttons {
    position: absolute;
    bottom: 10%;
    right: 10%;

    position: flex;
}
.descBtn {

    background-color: rgba(255, 255, 255, 0.9);

    padding: 5px;

    border-radius: 50%;
}
.descLogo {
    width: 30px;
}

.gitLogo {
    width: 30px;
}
.visible {
    display: block;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }