* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #F8F3D9;
    
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 4rem;
    
    background-color: #EBE5C2;
}

#links-container {
    display: grid;

    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );;
}
.link {
    margin: 10px;
}
.linkImg {
    width: 500px;

}