
#form {
    background-color: rgb(223, 220, 182);
    border: 10px solid #d1cfc0;

    width: 60%;
    height: 400px;
    margin: 80px auto;

    display: flex;
    flex-direction: column;

    padding: 20px;
    font-size: 1.7rem;
}

section {
    margin: 40px;

    background-color: rgb(211, 208, 174);
    height: 70%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input {
    
    height: 50%;
}

textarea {
    resize: none;
}
input, textarea {
    background-color: rgb(235, 234, 222);
    border: 5px solid #d1cfc0;
}
button {
    margin-left: 50px;
    width: 90px;
    height: 70px;

    background-color: rgb(192, 189, 151);

    border-radius: 6px;

    font-size: 0.94rem;
}

button:hover {
    background-color: rgb(141, 139, 110);
}

button:active {
    background-color: rgb(218, 215, 179);
}

#social {
    width: 400px;
    margin: -70px auto;

    display: flex;
    justify-content: space-evenly;
}

#social > img {
    width: 40px;
}